<nav class="navbar navbar-expand-lg vapor-nav px-4">
  <div class="container-fluid">
    <a class="navbar-brand neon-brand-text" routerLink="/events" data-text="ETKİNLİK // AĞI">ETKİNLİK // AĞI</a>
    
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item nav-icon-item">
          <a class="nav-link retro-nav-link" routerLink="/events" routerLinkActive="active-link">
            <i class="bi bi-globe2"></i>
            <span class="nav-text">Ağdaki Etkinlikler</span>
          </a>
        </li>
        <li class="nav-item nav-icon-item">
          <a class="nav-link retro-nav-link" routerLink="/create-event" routerLinkActive="active-link">
            <i class="bi bi-plus-square"></i>
            <span class="nav-text">Etkinlik Oluştur</span>
          </a>
        </li>
        <li class="nav-item nav-icon-item">
          <a class="nav-link retro-nav-link" routerLink="/my-archives" routerLinkActive="active-link">
            <i class="bi bi-archive"></i>
            <span class="nav-text">Arşivlenmiş Etkinliklerim</span>
          </a>
        </li>
        <li class="nav-item nav-icon-item">
          <a class="nav-link retro-nav-link" routerLink="/my-drafts" routerLinkActive="active-link">
            <i class="bi bi-file-earmark-text"></i>
            <span class="nav-text">Taslaktaki Etkinliklerim</span>
          </a>
        </li>
        <li class="nav-item nav-icon-item">
          <a class="nav-link retro-nav-link" routerLink="/profile/me" routerLinkActive="active-link">
            <i class="bi bi-person-circle"></i>
            <span class="nav-text">Profilim</span>
          </a>
        </li>
      </ul>
      
      <div class="d-flex">
        <button class="btn logout-btn" (click)="logout()">OTURUMU KAPAT</button>
      </div>
    </div>
  </div>
</nav>